@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', 'Fraunces';

}

.card {
    margin: auto;

    border-radius: 5px, 5px, 0, 0;
}

/* .container{
    padding: 2px 16px;
} */

.product-card {
    display: flow-root;
}

.product-card .left {
    float: left;
    width: 50%;
}

.product-text {
    display: inline-block;
    width: 50%;
}

