@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat';
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

h1 {
    font-family: 'Fraunces', serif;
    color: black;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    background-color: hsl(0, 0%, 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    height: 50%;
    min-width: 546.5px;
    max-height: 700px;
}

.card img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 700px;
}

.product-card {
    display: flow-root;
}

.product-card .left {
    float: left;
    width: 50%;
}

.product-info {
    display: inline-block;
    width: 50%;
}

.product-text {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.product-text p {
    font-size: 14px;
}

.product-type {
    text-transform: uppercase;
    font-weight: 500;
}

.price {
    display: inline-block;
}

.sale-price {
    font-size: 2rem;
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
}

.original-price {
    text-decoration: line-through;
    width: auto;
    text-align: center;
}

.attribution {
    text-align: center;
    margin-top: 5rem;
}


